<!DOCTYPE html>
<html>
  <head>
    <title>CqrsExploration</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_pack_tag "js/application" %>

    <%= stylesheet_pack_tag 'sass/application' %>
    <% (@js_libs || []).each do |lib| %>
      <%= javascript_pack_tag "js/#{lib}", defer: :defer %>
    <% end %>
  </body>
</html>
